@model IEnumerable<RSProject.UI.MVC.Models.ApplicationUser>

@{
    ViewBag.Title = "Users";
}


<header class="myMasthead">
    <section class="page-section" id="portfolio">
        <div class="container">
            <div class="text-center">
                <h2 class="section-heading text-uppercase mt-5">@ViewBag.Title</h2>
                @if (Request.IsAuthenticated && User.IsInRole("Admin"))
                {
                    <a class="btn btn-primary btn-xl text-uppercase mb-5" href="@Url.Action("Create", "UsersAdmin")">
                        Create New User
                    </a>

                }

                <br />

            </div>
            <div class="row">
                @foreach (var item in Model)
                {
                    <div class="col-lg-4 col-sm-6 mb-4">
                        <div class="portfolio-item">
                            <div class="portfolio-caption">
                                <div class="portfolio-caption-subheading">@Html.DisplayFor(modelItem => item.UserName)</div>
                               

                                @if (Request.IsAuthenticated && User.IsInRole("Admin"))
                                {
                                <div class="myLinkTwo">
                                    @Html.ActionLink("Edit", "Edit", new { id = item.Id }) |
                                    @Html.ActionLink("Delete", "Delete", new { id = item.Id })
                                </div>
                                }
                            </div>
                        </div>
                    </div>
                }
            </div>
            
        </div>
    </section>
</header>