@model RSProject.Data.EF.CustomerAsset

@{
    ViewBag.Title = "Delete";
}

<header class="myMasthead">
    <section class="page-section">
        <div class="container">
            <dt class="form-horizontal">
                <div class="text-center">
                    <h2 class="section-heading text-uppercase mt-5">@ViewBag.Title?</h2>
                    <h3 class="section-subheading text-muted">Are you sure you want to delete @Html.DisplayFor(model => model.AssetName)?</h3>
                    <br />
                </div>
                <dl class="col-md-10 myBody offset-1 text-center">

                    <dt>
                        Team Logo
                    </dt>
                    <dt>
                        <img src="~/Content/CustomerAssets/@Model.AssetPhoto" alt="@Model.AssetName" class="img-responsive img-thumbnail" />
                    </dt>

                    <dt>
                        Comments
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.SpecialNotes)
                    </dd>

                    <dt>
                        Is Active
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.IsActive)
                    </dd>

                    <dt>
                        Date Joined
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.DateAdded)
                    </dd>

                    <dt>
                        Coach Name
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.UserDetail.FirstName) @Html.DisplayFor(model => model.UserDetail.LastName)
                    </dd>

                </dl>
                <br />
                @using (Html.BeginForm())
                {
                    @Html.AntiForgeryToken()

                    <div class="col-md-10 offset-1 text-center">
                        <input type="submit" value="Delete" class="btn btn-primary btn-xl text-uppercase" />

                    </div>
                    <br />
                    <div class="myLinkTwo offset-1"> @Html.ActionLink("Back to List", "Index")</div>
                }
        </div>
        </div>
    </section>
</header>