@model RSProject.Data.EF.CustomerAsset

@{
    ViewBag.Title = "Customer Asset Details";
    ViewBag.SubTitle = "Team Details";
}

<header class="myMasthead">
    <section class="page-section">
        <div class="container">
            <dt class="form-horizontal">
                <div class="text-center">

                    @if (Request.IsAuthenticated && User.IsInRole("Admin"))
                    {
                        <h2 class="section-heading text-uppercase mt-5">@ViewBag.Title</h2>
                    }
                    @if (Request.IsAuthenticated && User.IsInRole("Customer"))
                    {
                        <h2 class="section-heading text-uppercase mt-5">@ViewBag.SubTitle</h2>
                    }
                    
                    <br />
                </div>
                <dl class="col-md-10 myBody offset-1 text-center">

                    <dt>
                        @Html.DisplayFor(model => model.AssetName)
                    </dt>
                    <br />
                    <dt>
                        <img src="~/Content/CustomerAssets/@Model.AssetPhoto" alt="@Model.AssetName" class="img-responsive img-thumbnail" />
                    </dt>
                    <br />
                    <dt>
                        Comments
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.SpecialNotes)
                    </dd>

                    <dt>
                        Is Active
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.IsActive)
                    </dd>

                    <dt>
                        Date Joined
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.DateAdded)
                    </dd>

                    <dt>
                        Coach Name
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.UserDetail.FullName)
                    </dd>


                </dl>
                <br />
                @using (Html.BeginForm())
                {
                    @Html.AntiForgeryToken()

                    <div class="myLinkTwo offset-1">
                        @Html.ActionLink("Edit", "Edit", new { id = Model.CustomerAssetID }) <span class="myBody">|</span>
                        @Html.ActionLink("Back to List", "Index")
                    </div>
                }
        </div>
    </section>
</header>
