@model RSProject.Data.EF.Reservation

@{
    ViewBag.Title = "Cancel";
}

<header class="myMasthead">
    <section class="page-section">
        <div class="container">
            <div class="form-horizontal">
                <div class="text-center">
                    <h2 class="section-heading text-uppercase mt-5">@ViewBag.Title?</h2>
                    <h3 class="section-subheading text-muted">Are you sure you want to cancel @Html.DisplayFor(model => model.CustomerAsset.AssetName)'s Reservation?</h3>
                    <br />
                </div>

                <dl class="col-md-10 myBody offset-1 text-center">
                    <dt>
                        Reservation Date
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.ReservationDate)
                    </dd>

                    <dt>
                        Reservation Time
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.ReservationTime)
                    </dd>

                    <dt>
                        Location
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.Location.City), @Html.DisplayFor(model => model.Location.State)
                    </dd>

                    <dt>
                        Team Name
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.CustomerAsset.AssetName)
                    </dd>

                    <dt>
                        Service
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.Service.Name)
                    </dd>
                </dl>
            </div>
            <br />
            @using (Html.BeginForm())
            {
                @Html.AntiForgeryToken()

                <div class="col-md-10 offset-1 text-center">
                    <input type="submit" value="Cancel" class="btn btn-primary btn-xl text-uppercase" />

                </div>
                <br />  
                <div class="myLinkTwo offset-1"> @Html.ActionLink("Back to List", "Index")</div>
            }
        </div>
    </section>
</header>