@model IEnumerable<RSProject.Data.EF.Reservation>

@{
    ViewBag.Title = "Reservations";
}

@* FIgure a way to display users reservations only to them and none if they have none. EMployee and admin can view all. *@


<header class="myMasthead">
    <section class="page-section" id="portfolio">
        <div class="container">
            <div class="text-center">
                <h2 class="section-heading text-uppercase mt-5">@ViewBag.Title</h2>
                <h3 class="section-subheading text-muted"></h3>
                @if (Request.IsAuthenticated && User.IsInRole("Admin"))
                {
                    <a class="btn btn-primary btn-xl text-uppercase mb-5" href="@Url.Action("Create", "Reservations")">Create New Reservation</a>

                }
                @if (Request.IsAuthenticated && User.IsInRole("Customer"))
                {
                    <a class="btn btn-primary btn-xl text-uppercase mb-5" href="@Url.Action("Create", "Reservations")">Book a New Reservation</a>

                }

                <br />
            </div>
            <div class="row">
                @foreach (var item in Model)
                {
                    <div class="col-lg-4 col-sm-6 mb-4">
                        <div class="portfolio-item">
                            <div class="portfolio-caption">
                                <div class="portfolio-caption-heading">@Html.DisplayFor(modelItem => item.CustomerAsset.AssetName)</div>
                                <div class="portfolio-caption-subheading text-muted">@Html.DisplayFor(modelItem => item.Service.Name)</div>
                                <div class="portfolio-caption-subheading text-muted">
                                    @Html.DisplayFor(modelItem => item.ReservationDate)
                                </div>
                                <div class="portfolio-caption-subheading text-muted">
                                    @Html.DisplayFor(modelItem => item.Location.City), @Html.DisplayFor(modelItem => item.Location.State)
                                </div>
                                <div class="portfolio-caption-subheading text-muted">
                                    @Html.DisplayFor(modelItem => item.ReservationTime)
                                </div>

                                @if (Request.IsAuthenticated && User.IsInRole("Admin"))
                                {
                                    <div class="myLinkTwo">
                                        @Html.ActionLink("Edit", "Edit", new { id = item.ReservationID }) |
                                        @Html.ActionLink("Cancel", "Delete", new { id = item.ReservationID })
                                    </div>
                                }
                            </div>
                        </div>
                    </div>
                }
            </div>
        </div>
    </section>
</header>

