@model RSProject.Data.EF.Location

@{
    ViewBag.Title = "Delete";
}

<header class="myMasthead">
    <section class="page-section">
        <div class="container">
            <div class="form-horizontal">
                <div class="text-center">
                    <h2 class="section-heading text-uppercase mt-5">@ViewBag.Title?</h2>
                    <h3 class="section-subheading text-muted">Are you sure you want to delete  <strong>@Html.DisplayFor(model => model.LocationName)</strong> location in <strong>@Html.DisplayFor(model => model.City), @Html.DisplayFor(model => model.State)</strong>?</h3>
                    <br />
                </div>
                <dl class="col-md-10 myBody offset-1 text-center">
                    

                    <dt>
                        @Html.DisplayNameFor(model => model.Address)
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.Address), @Html.DisplayFor(model => model.ZipCode)
                    </dd>

                    <dt>
                        @Html.DisplayNameFor(model => model.ReservationLimit)
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.ReservationLimit)
                    </dd>

                </dl>

                @using (Html.BeginForm())
                {
                    @Html.AntiForgeryToken()

                    <div class="col-md-10 offset-1 text-center">
                        <input type="submit" value="Delete" class="btn btn-primary btn-xl text-uppercase" />

                    </div>
                    <br />
                    <div class="myLinkTwo offset-1"> @Html.ActionLink("Back to List", "Index")</div>
                }
            </div>
        </div>
    </section>
</header>