@model IEnumerable<RSProject.Data.EF.Location>

@{
    ViewBag.Title = "Our Locations";
}


<header class="myMasthead">
    <section class="page-section" id="portfolio">
        <div class="container">
            <div class="text-center">
                <h2 class="section-heading text-uppercase mt-5">@ViewBag.Title</h2>
                <h3 class="section-subheading text-muted"></h3>
                @if (Request.IsAuthenticated && User.IsInRole("Admin"))
                {
                    <a class="btn btn-xl text-uppercase mb-5 myBtn" href="@Url.Action("Create", "Locations")">Create New Location</a>

                }
                @if (Request.IsAuthenticated && User.IsInRole("Customer"))
                {
                    <br />
                    <a class="btn btn-xl text-uppercase mb-5 myBtn" href="@Url.Action("Create", "Reservations")">Reserve Now</a>
                }

                <br />

            </div>
            <div class="row">
                @foreach (var item in Model)
                {
                    <div class="col-lg-4 col-sm-6 mb-4">
                        <div class="portfolio-item">
                            <div class="portfolio-caption">
                                <div class="portfolio-caption-heading">@Html.DisplayFor(modelItem => item.City), @Html.DisplayFor(modelItem => item.State)</div>
                                <div class="portfolio-caption-subheading text-muted">@Html.DisplayFor(modelItem => item.LocationName)</div>
                                <div class="portfolio-caption-subheading text-muted">
                                    Address: @Html.DisplayFor(modelItem => item.Address)
                                </div>
                                <div class="portfolio-caption-subheading text-muted">
                                    Zip Code: @Html.DisplayFor(modelItem => item.ZipCode)
                                </div>
                                <div class="portfolio-caption-subheading text-muted">
                                    Reservation Limit: @Html.DisplayFor(modelItem => item.ReservationLimit)
                                </div>

                                @if (Request.IsAuthenticated && User.IsInRole("Admin"))
                                {
                                    <p class="myLinkTwo">
                                        @Html.ActionLink("Edit", "Edit", new { id = item.LocationID }) |
                                        @Html.ActionLink("Delete", "Delete", new { id = item.LocationID })
                                    </p>
                                }
                            </div>
                        </div>
                    </div>
                }
            </div>
        </div>
    </section>
</header>

