@model IEnumerable<RSProject.Data.EF.UserDetail>

@{
    ViewBag.Title = "User Details";
    ViewBag.SubTitle = "Coach Details";
}


<header class="myMasthead">
    <section class="page-section" id="portfolio">
        <div class="container">
            <div class="text-center">
                @if (Request.IsAuthenticated && User.IsInRole("Admin"))
                {
                    <h2 class="section-heading text-uppercase mt-5">@ViewBag.Title</h2>
                }
                @if (Request.IsAuthenticated && User.IsInRole("Customer"))
                {
                    <h2 class="section-heading text-uppercase mt-5">@ViewBag.SubTitle</h2>
                }
                @if (Request.IsAuthenticated && User.IsInRole("Admin"))
                {
                    <a class="btn btn-primary btn-xl text-uppercase mb-5" href="@Url.Action("Create", "UserDetails")">
                        Create New User
                    </a>

                }
                @if (Request.IsAuthenticated && User.IsInRole("Customer"))
                {
                    <a class="btn btn-primary btn-xl text-uppercase mb-5" href="@Url.Action("Create", "UserDetails")">
                        Create New Coach
                    </a>
                }

                <br />

            </div>
            <div class="row">

                @foreach (var item in Model)
                {
                    <div class="col-lg-4 col-sm-6 mb-4">
                        <div class="portfolio-item">
                            <div class="portfolio-caption">
                                <div class="portfolio-caption-heading">
                                    @Html.DisplayFor(modelItem => item.FirstName) @Html.DisplayFor(modelItem => item.LastName)
                                </div>
                                <div class="portfolio-caption-subheading text-muted myLinkTwo"> @Html.DisplayFor(modelItem => item.Email)</div>
                                <div class="portfolio-caption-subheading text-muted">
                                    @Html.DisplayFor(modelItem => item.Phone)
                                </div>
                                @if (Request.IsAuthenticated)
                                {
                                    <div class="myLinkTwo">
                                        @Html.ActionLink("Edit", "Edit", new { id = item.UserID }) |
                                        @Html.ActionLink("Delete", "Delete", new { id = item.UserID })
                                    </div>
                                }
                            </div>
                        </div>
                    </div>
                }
            </div>
        </div>
    </section>
</header>

