@model IEnumerable<RSProject.Data.EF.Service>

@{
    ViewBag.Title = "Our Services";
}

@* Format into tile view and add images!, anyone can view this page *@
@* let them click the tile to reserve that they jsut need to dill in date and time, etc *@

<header class="myMasthead">
    <section class="page-section" id="portfolio">
        <div class="container">
            <div class="text-center">
                <h2 class="section-heading text-uppercase mt-5 text-center">@ViewBag.Title</h2>
                <h3 class="section-subheading text-muted">All it takes is all you got.</h3>

                @if (Request.IsAuthenticated && User.IsInRole("Admin"))
                {
                    <a class="btn btn-primary btn-xl text-uppercase mb-5" href="@Url.Action("Create", "Services")">Create New Service</a>

                }
                @if (Request.IsAuthenticated && User.IsInRole("Customer"))
                {
                    <br />
                    <a class="btn btn-xl text-uppercase mb-5 myBtn" href="@Url.Action("Create", "Reservations")">Reserve a Service</a>
                }


                <br />

            </div>
            <div class="row">
                @foreach (var item in Model)
                {
                    <div class="col-lg-4 col-sm-6 mb-4">
                        <div class="portfolio-item">
                            @*<a class="portfolio-link" data-toggle="modal" href="@Url.Action("Index", "Reservation")">
                                    <div class="portfolio-hover">
                                        <div class="portfolio-hover-content"><i class="fas fa-plus fa-3x"></i></div>
                                    </div>
                                    <img class="img-fluid" src="~/Content/assets/img/portfolio/01-thumbnail.jpg" alt="" />
                                </a>*@
                            <div class="portfolio-caption">
                                <div class="portfolio-caption-heading">@Html.DisplayFor(modelItem => item.Name)</div>
                                <div class="portfolio-caption-subheading text-muted">$@Html.DisplayFor(modelItem => item.Price)</div>
                                <div class="portfolio-caption-subheading text-muted">
                                    @Html.DisplayFor(modelItem => item.Description)
                                </div>
                               


                                @if (Request.IsAuthenticated && User.IsInRole("Admin"))
                                {
                                    <p class="myLinkTwo">
                                        @Html.ActionLink("Edit", "Edit", new { id = item.ServiceID }) <spam class="mySpam">|</spam>
                                        @Html.ActionLink("Delete", "Delete", new { id = item.ServiceID })
                                    </p>
                                }
                            </div>
                        </div>
                    </div>
                }
            </div>
        </div>
    </section>
</header>
