@model RSProject.UI.MVC.Models.IndexViewModel
@{
    /**/

    ViewBag.Title = "Manage your account";
}



<header class="myMasthead">
    <section class="page-section" id="">
        <div class="container">
            <div class="text-center">
                <h2 class="section-heading text-uppercase mt-5">@ViewBag.Title</h2>
                <h3 class="section-subheading text-muted">@ViewBag.StatusMessage</h3>


                <br />
                @if (User.IsInRole("Customer"))
                {
                   
                    <p class="myLinkTwo">
                        @Html.ActionLink("Modify Your Team", "Index", "CustomerAssets")
                    </p>
                }
                <p class="myLinkTwo">
                    @(Model.HasPassword ? Html.ActionLink("Change your password", "ChangePassword")
                                                                                                                                                        : Html.ActionLink("Pick a password", "SetPassword"))
                </p>
                @*<p class="myLinkTwo">
                    <span class="myBody">
                        Phone Number: @Html.DisplayFor(m => m.Phone)
                        @if (Model.Phone != null)
                        {
                            @Html.ActionLink("Change", "AddPhoneNumber")
                            @: &nbsp;|&nbsp;
                            @Html.ActionLink("Remove", "RemovePhoneNumber")
                        }
                        else
                        {
                            @Html.ActionLink("Add", "AddPhoneNumber")
                        }

                    </span>
                </p>*@
            </div>

        </div>


    </section>
</header>
